.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}

/** Applied on use and not svg because if not, it breaks..... IE!! WOOT! -_- */
svg use {
  pointer-events: none;
}

// container for all SVG at bottom of page
#svg-store {
  display: none;
}