.follow {
	@extend .inner;
	@include fluid(padding-top, $desktop: 80);
	@include fluid(padding-bottom, $desktop: 80);
	display: flex;
	flex-direction: column;
	align-items: center;

	&-heading {
		@include typo($desktop: center xlarge thin bluedarker uppercase, $mobile: large);
		@include fluid(margin-bottom, $desktop: 20);
	}
	&-description {
		@include typo($desktop: center normal dark thin, $mobile: small);
		@include fluid(margin-bottom, $desktop: 40);
	}

	&-newsletter {
		display: flex;
		align-items: stretch;

		input[type="email"] {
			height: 60px;
			@include fluid(padding, $desktop: 0 20);
			border: 1px solid color(bluedark);
			@include typo($desktop: thin normal italic, $mobile: small);
			font-family: MontserratWeb;
		}
		button {
			cursor: pointer;
			background: color(bluedark);
			@include typo(lighter bold);
			@include fluid(padding, $desktop: 0 20);

			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}