.footer {
	background-color: color(bluelight);

	&-inner {
		@extend .inner;
		@include fluid(padding-top, $desktop: 40);
		@include fluid(padding-bottom, $desktop: 40);

		display: flex;
		justify-content: space-around;

		@include mq($until: mobile) {
			flex-direction: column;
		}
	}
	&-column {
		@include fluid(width, $desktop: 30%, $mobile: 100%);
		@include fluid(margin-bottom, $mobile: 20);
		
		&-title {
			@include typo(thin lighter large);
			@include fluid(margin-bottom, $desktop: 20);
		}
		&-description { 
			@include wysiwyg(lighter); 
		}
	}
}