.header {
	background-color: color(bluedark);

	&-inner {
		@extend .inner;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq($until: mobile) {
			flex-direction: column;
		}
	}

	&-logo {
		position: relative;
		padding: 010px 0;
		
		img {
			width: 200px;
		}
	}

	&-side {
		@include fluid(margin-bottom, $mobile: 40);

		&-main {
			@include typo($desktop: lighter large right, $tablet: normal, $mobile: small center);
		}
		&-secondary {
			@include typo($desktop: bluedarker normal right, $tablet: small, $mobile: small center);
		}
	}
}